body
{
     margin: 0;
}
button
{
    font-family: Roboto, Arial;
}

div
{
    font-family: Roboto, Arial;
}

.icones-superior
{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: end;
    align-items: center;
    margin-top: 2px;
    margin-right: 5px;
}

.gmail
{
    border: none;
    background-color: white;
    cursor: pointer;
}

.gmail:hover
{
    text-decoration: underline;
}

.imagens
{
    border: none;
    background-color: white;
    margin-right: -2px;
    margin-left: 1px;
    cursor: pointer;
}

.imagens:hover
{
    text-decoration: underline;
}

.botao-apps
{
    width: 39px;
    height: 39px;
    border: none;
    background-color: white;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.botao-apps:hover
{
    background-color: rgba(0, 0, 0, 0.185);
}

.img-apps
{
    width: 24px;
    height: 24px;
    margin-top: 2px;
}

.botao-usuario
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.botao-usuario:hover
{
    background-color: rgba(0, 0, 0, 0.185);
}

.img-usuario
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.Google
{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: -20px;
}

.img-Google
{
    width: 380px;
    height: 140px;
}

.barra-pesquisa
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 680px;
    height: 50px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    border-color: rgb(255, 255, 255);
    background-color: #fff;
    outline: none;
    box-shadow: 0 1px 6px rgba(185, 190, 199, 0.28);
    margin: 50px auto 0 auto;
}

.barra-pesquisa:hover
{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.icones-esquerda
{   
    display: flex;
    flex: 1;
    align-items: center;
}

.botao-adicionar
{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border:none;
    border-radius: 50%;
    margin-left: 5px;
    background-color: white;
    cursor: pointer;
}

.botao-adicionar:hover
{
    background-color: rgba(0, 0, 0, 0.05);
}

.img-adicionar
{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.barra-meio
{
    display: flex;
    flex: 5;
}

.pesquisar
{
    width: 350px;
    margin-left: -20px;
    padding-left: -30px;
    border: none;
    outline: none;
    font-size: 18px;
}

.icones-direita
{
    display: flex;
    flex: 4;
}

.botao-teclado
{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border:none;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 12px;
    background-color: white;
    cursor: pointer;
}

.img-teclado
{
    width: 24px;
    height: 24px;
}

.botao-microfone
{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border:none;
    border-radius: 50%;
    background-color: white;
    margin-top: 10px;
    margin-right: 7px;
    cursor: pointer;
}

.img-microfone
{
    width: 24px;
    height: 24px;
}

.botao-imagem
{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border:none;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 7px;
    background-color: white;
    cursor: pointer;
}

.img-imagem
{
    width: 33px;
    height: 33px;
    margin-top: -4px;
}

.botao-IA
{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin-top: 4px;
    border:none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.img-IA
{
    width: 100px;
    height: 40px;
    margin-top: -3px;
}

.botoes-pesquisa
{
    display:flex;
    justify-content: center;
    margin: 30px auto 0 auto;
}

.botao-pesquisa
{
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 12px;
    margin-right: 5px;
    background-color: #f8f8f8;
    font-size: 14px;
    cursor: pointer;
}

.botao-pesquisa:hover
{
    border-radius: 12px;
    border-color: black;
    background-color: #fff7fb;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.19);
}

.botao-sorte
{
    width: 145px;
    height: 35px;
    border: none;
    border-radius: 12px;
    background-color: #f8f8f8;
    font-size: 14px;
    cursor: pointer;
}

.botao-sorte:hover
{
    border-radius: 12px;
    border-color: black;
    background-color: #fff7fb;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.19);
}

.barra-inf-pais
{
    display: flex;
    justify-content: start;
    height: 43px;
    align-items: center;
    border-top: 1px solid #e8e8e8;
    font-size: 15px;
    margin-top: 245px;
    background-color: #f2f2f2;
}

.pais
{
    margin-left: 30px;
}

.barra-inf-opcoes
{
    display: flex;
    direction: row;
    align-items: center;
    height: 43px;
    border-top: 1px solid #e8e8e8;
    font-size: 15px;
    background-color: #f2f2f2;
}

.botoes-esquerda
{
    display: flex;
    flex: 1;
}

.botao-sobre
{
    border: none;
    font-size: 14px;
    margin-left: 32px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.botao-sobre:hover
{
    text-decoration: underline;
}

.botao-publicidade
{
    border: none;
    font-size: 14px;
    margin-left: 20px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.botao-publicidade:hover
{
   text-decoration: underline;
}

.botao-negocio
{
    border: none;
    font-size: 14px;
    margin-left: 20px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.botao-negocio:hover
{
    text-decoration: underline;
}

.botao-comoPesquisa
{
    border: none;
    font-size: 14px;
    margin-left: 20px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.botao-comoPesquisa:hover
{
    text-decoration: underline;
}

.botoes-direita
{
    display: flex;
    justify-content: end;
    flex: 1;
}

.botao-privacidade
{
    border: none;
    font-size: 14px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.botao-privacidade:hover
{
    text-decoration: underline;
}

.botao-termos
{
    border: none;
    font-size: 14px;
    margin-left: 20px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.botao-termos:hover
{
    text-decoration: underline;
}

.botao-configuracoes
{
    border: none;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 30px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.botao-configuracoes:hover
{
    text-decoration: underline;
}